$dark-grey: #424242;
$font: "Lato";
$red: #FF0000;
$generic-top-margin: 40px;
div {
	margin: 0;
	padding: 0;
}

/*nav*/ a {
    color: #666666;
	&:hover,
	&:active,
	&:link {
    	color: #666666;
    	text-decoration: none;
	}
}

.inline {
	display: inline-block;
}
#container {
	overflow: hidden;//might break smth?
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

#topbar {
	background-color: $dark-grey;
	height: 45px;
	padding: 10px;
}

.social-icon {
	margin-left: 5px;
}
.contact-data {
	display: inline-block;
	font-size: 14px;
	font-family: $font;
	color: rgba(153, 153, 153, 0.8);
}

.vam {
	vertical-align: middle;
}
#contact {
	position: absolute;
	margin-left: 70%;
}

.vertical-divider {
	margin-left: 10px;
	margin-right: 10px;
	height: 20px;
    width: 1px;
    background: rgba(153, 153, 153, 0.8);
}
#social-icons {
	position: absolute;
	margin-top: auto;
	margin-bottom: auto;
	display: inline-block;
	margin-left: 10%;
}
.broswe-category {
	margin-left: 40px;
	background-color: transparent;
	border: 0;
	padding: 0;
	font-size: 14px;
	font-family: "Lato";
	color: rgb(240, 66, 60);
	text-transform: uppercase;
}
.img-move {
}
.menu-text {
	font-size: 14px;
	font-family: "Lato";
	color: $dark-grey;
	text-transform: uppercase;
	margin-left: 2%;
}

#navbar {
	margin-left: 20%;
}

#banner-content {
	width: 100%;
	display: block;
	float: left;
    position: absolute;
    left: 0px;
    top: 0px;
    margin-top: 40px;
}

#top-image {
	max-width: 1920px;
	z-index: -1;
}
#top {
	position: relative;
	width: 100%;
}

#logo-middle {
	text-align: center;
}

.red-rectangle {
  margin-left: auto;
  margin-right: auto;
  width: 30px;
  height: 2px;
  background-color: $red;
}
#bottom-top {
	width: 100%;
	margin-top: 100px;
}

.font {
	font-family: $font;
}

.dark-grey {
	color: $dark-grey;
}

.white-it {
	color: white;
}

.center {
	text-align: center;
}

#mid-text {
	font-family: $font;
	color: $dark-grey;
	font-size: 40px;
	font-weight: bold;
	text-align: center;
}

.red-button {
	background-color: $red;
	color: #FFFFFF;
	padding: 10px;
	font-size: 20px;
	font-family: $font;
	text-align: center;
	text-transform: uppercase;
	margin-left: auto;
	margin-right: auto;
}

#get-started {
	margin-top: 80px;
	width: 250px;

}

.red-it-up {
	color: $red;
}

.lightest-gray-it-all {
	background-color: rgb(244, 244, 244);
}

.light-gray-it-all {
	background-color: #CCCCCC;
}
.top-margin-half {
	margin-top: $generic-top-margin / 2;
}
.top-margin {
	margin-top: $generic-top-margin;
}
.top-margin-double {
	margin-top: $generic-top-margin * 2;
}

#money-back {
	margin-top: 30px;
	text-align: center;
	font-family: $font;
	color: $dark-grey;
	font-size: 20px;
	text-transform: uppercase;
	font-weight: bold;
}

#what-you-need {
	margin-top: 70px;
	font-size: 30px;
	text-transform: uppercase;

}

#about-buttons {
	width: 40%;
	margin-left: auto;
	margin-right: auto;
}

.small-top-margin {
	margin-top: 10px;
}
#image-fix {
	height: 13px;
}
.big-button {
	margin-top: 20px;
	display: inline-block;
	border-style: solid;
	border-color: #EFEFEF;
	border-width: 1px;
	width: 29%;
	padding: 20px;
	text-align: center;
	margin-left: 1.5%;
	margin-right: 1.5%;
	text-transform: uppercase;
	font-weight: bold;
}
#s-three-img {
	position: absolute;
	max-width: 1920px;
	z-index: -10;
}
#view-cats-btn {
	width: 250px;
}
#section-three-content {
	padding: 3%;
	position: relative;
	width: 100%;
}

.upcase-it {
	text-transform: uppercase;
}

.f-bold-big {
	font-weight: bold;
	font-size: 40px;
}

.row-centered {
    text-align: center;
}
